/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#filters {
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
}

button {
	font-family: syne;
	color: #1D6154;
	border-color: #1D6154;
	border: #1D6154 solid;
	border-radius: 60px;
	padding: 10px 20px;
	font-size: 16px;
	margin: 0 10px;
	background-color: #fff;
}

button:hover {
	cursor: pointer;
}

#filters button.active {
	background-color: #1D6154;
	color: white;
}

/* LOGIN */
#login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 100px);
	margin: 50px 0;
}

#login h1 {
	color: #1D6154;
	font-family: 'Syne';
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	margin-bottom: 20px;
}

.login form {
	text-align: left;
	max-width: 300px;
	width: 100%;
}

#loginForm {
	display: grid;
}

#login label {
	display: block;
	margin: 10px 0 5px;
	font-family: 'Work Sans';
	font-weight: 500;
}

#login input {
	width: 379px;
	height: 51px;
	font-size: 14px;
	font-family: 'Work Sans';
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	border: none;
}

#login button {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	width: 180px;
	border-radius: 60px;
	padding: 10px;
	cursor: pointer;
	margin-top: 20px;
	align-self: flex-start;
	margin: 0px 100px;
}

#login .forgot-password {
	margin-top: 10px;
	font-family: 'Work Sans';
	font-size: 14px;
	cursor: pointer;
	text-align: center;
}

#login .forgot-password:hover {
	text-decoration: underline;
}

body {
	background: #FFFEF8;
}

#modifier-btn {
	display: inline-flex;
	align-items: center;
	font-family: work sans;
	color: black;
	background-color: #fff;
	font-size: 14px;
	margin: 0 10px;
	padding: 0;
	border: none;
	cursor: pointer;
}

.title-row {
	display: flex;
	align-items: baseline;
	justify-content: center;
	gap: 10px;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #0000004D;
	display: flex;
	opacity: 0;
	pointer-events: none;
}

.modal--show {
	opacity: 1;
	pointer-events: unset;
	height: 100%;
}

.modal-container {
	margin: auto;
	width: 90%;
	max-width: 630px;
	height: 100%;
	max-height: 670px;
	border-radius: 10px;
	background: #fff;
	display: grid;
	place-items: center;
	position: relative;
}

#modal-gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 10px;
	justify-items: center;
	margin: 20px;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 40px;
}

#modal-gallery img {
	width: 76.86px;
	height: 102.57px;
}

#galerie-label {
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	line-height: 30.5px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: black;
}

#add-photo {
	margin-bottom: 30px;
	margin-left: 120px;
	width: 237px;
	background-color: #1D6154;
	color: white;
	cursor: pointer;
}

.button-modal {
	position: absolute;
	right: 10px;
	top: 10px;
	border: none;
	color: black;
}

#button-modal:hover {
	background-color: white;
	color: #1D6154;
}

.modal-image-wrapper {
	position: relative;
	display: inline-block;
}

.modal-image-wrapper img {
	display: block;
	width: 100%;
}

.trash-icon {
	position: absolute;
	width: 17px;
	height: 17px;
	top: 5px;
	right: 5px;
	color: white;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 9px;
	cursor: pointer;
}

#retour-modifier {
	position: absolute;
	border: none;
	top: 10px;
	left: 10px;
	cursor: pointer;
}

.background-photo {
	width: 420px;
	height: 169px;
	margin: 10px auto;
	background-color: #E8F1F6;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.background-photo img {
	width: 76px;
	height: 76px;
}

.background-photo button {
	background-color: #CBD6DC;
	color: #306685;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	width: 173PX;
	height: 36PX;
	font-size: 12px;
}

#valider {
	background-color: #B3B3B3;
	color: white;
	border-color: #B3B3B3;
	cursor: not-allowed;
}

#valider.enabled {
	background-color: #1D6154;
	cursor: pointer;
}

#jpg-size {
	font-size: 10px;
}

#form-ajout {
	display: inline-grid;
	gap: 30px;
	margin-bottom: 40px;
	width: 420px;
}

#titre {
	margin-bottom: -15px;
}

#text-titre {
	height: 45px;
}

#categorie-text {
	height: 51px;
}

.container-form {
	padding: 20px;
	margin-top: 60px;
}

.ajout-photo {
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	line-height: 30.5px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: black;
}

#padding {
	padding: 20px;
}

#input-container {
	border-bottom: 1px solid #B3B3B3;
	display: contents;
	box-shadow: 0px 4px 14px 0px #00000017;
}

a:-webkit-any-link {
	color: black;
	cursor: pointer;
	text-decoration: underline;
}

header h1>a {
	color: #B1663C !important;
	text-decoration: none;
}

#text-titre #categorie-text {
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.42px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	box-shadow: 0px 4px 14px 0px #00000017;
}

.custom-preview {
	width: 129px !important;
	height: 169px !important;
}

#admin-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 59px;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-family: 'Work Sans', sans-serif;
	font-size: 19px;
	z-index: 1000;
}


#admin-bar.hidden {
	display: none;
}

#admin-bar img {
	width: 20px;
	height: 20px;
}

#admin-bar p {
	margin: 0;
}

header.with-admin-bar {
	margin-top: 100px;
}